*:focus {
    box-shadow: none !important;
}

.form-control {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 2px;
}

.btn {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 2px;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #724f4d;
    border-color: #442624;
}

.btn-primary:hover {
    color: #fff;
    background-color: #442624;
    border-color: #442624;
}

.btn-link {
    color: #724f4d;
}

.btn-link:hover {
    color: #442624;
}

.btn-outline-primary {
    color: #442624;
    background-color: transparent;
    background-image: none;
    border-color: #442624;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #442624;
    border-color: #442624;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #724f4d;
    border-color: #442624;
}

.alert {
    position: relative;
    padding: 6px 12px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 12px;
    color: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 6px;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 2px;
    font-size: 11px;
    color: #dc3545;
}

.h2, h2 {
    font-size: 12px;
    color: #724f4d;
}

h1 {
    font-size: 24px;
    color: #724f4d;
    margin-top: 12px;
    margin-bottom: 0;
}

.nav-link {
    display: block;
    padding: 6px 12px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #724f4d;
}

.nav-pills .nav-link {
    border-radius: 2px;
}

small {
    font-size: 11px;
}